<div class="middle_content">
<img src="../../../assets/Logo4.svg" alt="">
<h1>NHLANHLA MAVUNDLA</h1>
</div>
<div class="second-content">
  <a href="">Hi my name is,</a>
</div>
<div class="about " >
  Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Adipisci facilis in quisquam dolore. Ipsum illo, corrupti doloremque quaerat maxime quisquam ut, quos numquam,  <br> nulla aspernatur vel? Cum provident tempore tenetur?

</div>
<div class="btnStart">
  <button type="button" class="btn btn-outline-secondary">Explore</button>

</div>


