<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col sizeLg="4" sizeMd="6" sizeSm="12" style="height: 100vh">
        <div class="left__content">
          <h3>CONTACT INFORMATION</h3>
          <div class="divider"></div>
          <div class="email">
            <h4>EMAIL</h4>
            <ol>
              <li>
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                nhlanhlamavundla1@gmail.com
              </li>
            </ol>
          </div>
          <div class="address">
            <h4>ADDRESS</h4>
            <ol>
              <li>
                <i class="fa fa-location-arrow" aria-hidden="true"></i>
                882 Kgotsong street, Nadustria <br> Katlehong 1431
              </li>
            </ol>
          </div>
          <div class="phone">
            <h4>PHONE</h4>
            <ol>
              <li>
                <i class="fa fa-phone" aria-hidden="true"></i>
                067-113-0709
              </li>
            </ol>
          </div>
          <div class="skills">
            <h3>TECHNICAL SKILLS</h3>
            <div class="divider"></div>
            <ol>
              <li>
                Angular
              </li>
              <li>
                HTML
              </li>
              <li>
                Ionic
              </li>
              <li>
                Angular
              </li>
              <li>
                Css
              </li>
            </ol>
        </div>
        <div class="language">
          <h3>LANGUAGE</h3>
          <div class="divider"></div>
          <ol>
            <li>
              English
            </li>
            <li>
              IsiXhosa
            </li>
          </ol>
        </div>
        <div class="icons">
          <a href="https://github.com/Uncle-cheese"><i class="fa fa-github" aria-hidden="true"></i></a>
          <a href="https://www.linkedin.com/in/nhlanhla-mavundla-8b7685186/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
        </div>
        </div>
      </ion-col>
      <ion-col sizeLg="8" sizeMd="6" sizeSm="12" style="height: 100vh;">
        <div class="d-flex justify-content-between">
          <div class="lef_content_info">
            <h1 class="name">NHLANHLA MAVUNDLA</h1>
            <p class="name">I am a juniour Software Developer using the MEAN Tech Stack. I am a young <br> curious and passionate individual who is inspired by programming. I am always keen on <br> learning about the new trends and latest technologies. </p>
          </div>
         <div class="image">
          <img src="../../assets/Mavundla-4.jpg" alt="">
         </div>
        </div>
        <div class="divide"></div>
        <div class="experience name">
          <h1>EXPERIENCE</h1>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-4 ">
              <p>The Digital Academy <br> 01 Dec 2021 - Current</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-8 v-border">
              <p class="type">Full-Stack developer</p>
              <ol>
                <li>
                  <i class="fa fa-check" aria-hidden="true"></i>
                  Developed  a web application and components using Angular and Ionic.
                </li>
                <li>
                  <i class="fa fa-check" aria-hidden="true"></i>
                  Assisted in developing and implementing systems architecture designs.
                </li>
                <li>
                  <i class="fa fa-check" aria-hidden="true"></i>
                  Worked with MongoDB and Postgres database.
                </li>
                <li>
                  <i class="fa fa-check" aria-hidden="true"></i>
                  Developed app integration with RESTful API.
                </li>
                <li>
                  <i class="fa fa-check" aria-hidden="true"></i>
                  Developed a mircoApp named koder on Ayoba.
                </li>
              </ol>
            </div>
            <div class="divide"></div>
          </div>
        </div>
        <div class="education name">
          <h1>EDUCATION</h1>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-4">
              <p>Vaal University of Technology <br>2016-2020</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-8 v-border">
              <p class="type">National Diploma in Information of Technology</p>
              <ol>
                <li>
                  <i class="fa fa-check" aria-hidden="true"></i>
                  Java programming
                </li>
                <li>
                  <i class="fa fa-check" aria-hidden="true"></i>
                  SQL Database
                </li>
                <li>
                  <i class="fa fa-check" aria-hidden="true"></i>
                  Business Analysis
                </li>
                <li>
                  <i class="fa fa-check" aria-hidden="true"></i>
                  Development System
                </li>
                <li>
                  <i class="fa fa-check" aria-hidden="true"></i>
                  System Software
                </li>
              </ol>
            </div>
            <div class="divide"></div>
          </div>
        </div>
        <div class="projects name">
          <h1>PROJECTS</h1>
          <ul>
            <li>
              I worked on a <span><a href="https://dulcet-dodol-c446cb.netlify.app/">koder</a></span> app that is featured on Ayoba mtn app.
            </li>
            <li>
              Now I am currently working on a gym app
            </li>
          </ul>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
