
ion-grid {
  padding: 0;
  margin: 0;
}
ion-col {
  padding: 0;
}
.left__content{
  padding-top: 2rem;
  margin: 0;
  color: white;
  background: #C04848;
  height: 100vh;
  padding-left: 5rem;
  overflow-y: hidden;

  a{
    color: black;
  }
  li{
    list-style: none;
  }
 }

 .divider{
  border-bottom: 2px solid black;
  width: 75%;
 }
 .image{
  width: 15%;
  height: 50%;

  img{
    padding-right: 2rem;
    padding-top: 1rem;
  }
 }
 .icons{

  .fa{
    padding-top: 1rem;
    padding-left: 3rem;
    font-size: 2rem;
    color: white;
  }
 }

 .name{
   padding-left: 1rem;
 }
 .divide{
   padding-top: 6px;
   width: 95%;
   border-bottom: 1px solid gray;
 }
 .type{
   color: #C04848;
   font-weight: bold;
 }

 .v-border{
   border-left: 1px solid gray;

   li{
     list-style: none;
   }
 }

